---
layout: default
title: Home
---

<h2>Benvenuti su TICoding!</h2>
<br>

{% for post in site.posts limit:5 %}
  <article class="post">

    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="post-meta">
      Pubblicato il {{ post.date | date: "%d %B %Y" }}
      {% if post.categories and post.categories.size > 0 %}
        ·
        {% for cat in post.categories %}
          <a href="{{ '/categorie/' | relative_url }}#{{ cat | slugify }}">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>

    <div class="post-content">
      {{ post.excerpt }}
    </div>

    {% if post.image %}
      <p align="center">
        <a href="{{ post.url | relative_url }}">
          <img
            src="{{ post.image | relative_url }}"
            alt="{{ post.image_alt | default: post.title }}"
            width="320">
        </a>
      </p>
    {% endif %}

    <p class="read-more">
      <a href="{{ post.url | relative_url }}">
        Leggi tutto →
      </a>
    </p>

    <hr>

  </article>
{% endfor %}
