<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml"
      title="{{ site.title }} RSS"
      href="{{ '/feed.xml' | relative_url }}">

</head>
<body>
	<script>
		if (performance.navigation.type === 1) {
			console.log("Pagina ricaricata automaticamente");
		} else {
			window.location.reload();
		}
	</script>


    <header>
        <h1>TICoding</h1>
        <p>Informatica per la scuola e non solo: risorse, strumenti e idee per il futuro!</p>
    </header>

    <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/risorse/' | relative_url }}">Risorse</a>
        <a href="{{ '/qrcode/' | relative_url }}">QR & Barcode</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
                <a href="{{ '/info/' | relative_url }}">Info</a>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
    <p>
  		<a href="{{ '/feed.xml' | relative_url }}">
    		Iscriviti al feed RSS
  		</a>
	</p>

<a href="https://visitorbadge.io/status?path=https%3A%2F%2Fwww.ticoding.it"><img src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Fwww.ticoding.it&label=Visite&countColor=%23263759" /></a>

    <p>TICoding è un sito web di Marco Medori - Tutti i diritti riservati - ©2026</p>
    </footer>

</body>
</html>
